/* General Initializations */
body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/* Table Heading CSS */

#tableHeading {
  text-align: center;
}

/* Table CSS */

table {
  background-color: lightyellow;
  border-collapse: collapse;
}

thead {
  font-size: 1.5em;
}

td {
  margin: 0px;
  border: 1px solid black;
  padding: 10px;
  width: 4em;
}

/* Data Entry Dialog Box */
#dataContainer {
  display: inline-block;
  border: 1px solid black;
  margin: 10px 0;
}
