* {
}
html,
body {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  border: 0;
  padding: 0;
  margin: 0;
}

#outerContainer {
  /* Allocting Full Height */
  height: calc(100vh);
  box-sizing: border-box;

  /* Flexing the container */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#innerContainer {
  /* Styling the Container */
  padding: 1.5em;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: yellow;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#colorChanger {
  padding: 0.6em;
  margin: 0.6em;
  background-color: black;
  color: greenyellow;
  font-size: 1.2em;

  /* Styling the Button */
  border-radius: 10px;
}

#dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body,
  html {
    font-size: 12px;
  }
}
